@use '../abstracts' as *;

.faq {
  h2 {
    font-size:font-size(3)!important;
  }
  .card {
    &:before {
      background-color:$color-secondary;
    }
    .card__surface {
      .rte {
        font-size:font-size(-2);
        p {
          font-size:font-size(-2);
        }
      }
    }
  }
}

.faq.padding-top {
  padding-top:0;
}

@include respond-to(xlarge) {
  .faq {
    .card__surface {
      .rte p {
        font-size:px-to-rem(15px);
      }
    }
  }

  #faq {
    .section-wave {
      img {
        height: auto;
      }
    }
  }

}

@include respond-to(medium) {
  .faq {
    .wave-top {
      height:180px;
    }
  }

}