@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

@use 'sass:math';

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc($gutter-width / -2);
  margin-right: calc($gutter-width / -2);
}

[class^='col-'] {
  padding-left: calc($gutter-width / 2);
  padding-right: calc($gutter-width / 2);
  flex: 1 0 100%;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    flex: 0 0 math.percentage(math.div($i, $grid-columns));
    max-width: math.percentage(math.div($i, $grid-columns));
  }
}

@include respond-to(medium) {
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      flex: 0 0 math.percentage(math.div($i, $grid-columns));
      max-width: math.percentage(math.div($i, $grid-columns));
    }
  }
}
