@use '../abstracts' as *;

.hero-product {
  padding: px-to-rem(30px) 0;
  background-color: $color-black;
  text-align: center;

  &__container {
    max-width: px-to-rem(1200px);
    margin: 0 auto;
    padding: 0 px-to-rem(16px);
  }

  &__text-wrapper {
    background-color: $color-black;
    border: px-to-rem(2px) solid $color-secondary;
    border-radius: px-to-rem(12px);
    padding: px-to-rem(24px);
    margin-bottom: px-to-rem(32px);
  }

  &__title {
    font-weight: $font-weight-bold;
    color: $color-white;
    margin-bottom: px-to-rem(8px);

    .highlight {
      color: $color-secondary;
    }
  }

  &__subtitle {
    font-family: $font-family-body;
    font-size: font-size(-1);
    color: $color-gray-light;
    margin-top: px-to-rem(8px);
  }

  &__images {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-rem(16px);
    margin-bottom: px-to-rem(32px);

    .hero-product__texture,
    .hero-product__product,
    .hero-product__sticker {
      max-width: 100%;
      height: auto;
    }

    .hero-product__product {
      position:absolute;
    }

    .hero-product__sticker {
      position: absolute;
      right: 0;
      width: px-to-rem(60px);
    }
  }

  &__cta {
    margin-bottom: px-to-rem(24px);

    .btn {
      width: 100%;
      max-width: px-to-rem(300px);
    }
  }

  &__safe-text {
    font-family: $font-family-body;
    font-size: font-size(-3);
    color: $color-gray-light;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: px-to-rem(8px);

    .icon-wrapper {
      width: px-to-rem(18px);
      height: px-to-rem(18px);
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: px-to-rem(18px);  // Tamaño pequeño
        height: auto;
        max-height: px-to-rem(18px); // Limitar altura
        display: inline-block;
      }
    }

  }
}

@include respond-to(medium) {
  .hero-product {
    padding: px-to-rem(120px) 0;

    &__images {
      flex-direction: row;
      justify-content: center;
    }

    &__title {
      font-size: font-size(6);
    }

    &__subtitle {
      font-size: font-size(3);
    }
  }
}
