@use '../abstracts' as *;

.marquee {
  overflow: hidden;
  width: 100%;
  background-color: $color-secondary;
  padding: px-to-rem(12px) 0;

  &__inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__group {
    display: flex;
    flex-shrink: 0;
    min-width: 100%;
    gap: px-to-rem(32px);
    justify-content: center;

    span {
      font-family: $font-family-headings;
      font-weight: $font-weight-bold;
      font-size: font-size(0); 
      font-style: italic;
      text-transform: uppercase;
      color: $color-black;
      display: inline-block;
    }
  }

  &--active .marquee__inner {
    animation: marquee 20s linear infinite;
    min-width: 500%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%); 
  }
}

@include respond-to(medium) {
  .marquee__group span {
    font-size: font-size(2);
  }
}
