@use '../abstracts' as *;

.testimonials {
  position:relative;
  .section-content {
    padding-left:5%;
    .splide__slide {
      margin-right: 8%;
      .card:before {
        background-color:$color-secondary ;
      }
      .card__surface {
        background-color:white ;
      }
    }
  }
}
.padding-top {
  padding-top: 6rem;
}

.padding-bottom {
  padding-bottom: 12rem;
}

.alien_ravekit {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 70px;
  z-index: 99;
  @include bouncing(1.5s, 25px);
}

.step-carrusel {
  .splide__slide {
    .card:before {
      background-color:$color-tertiary!important;
    }
  }
  .push-btn__surface {
    background-color:$color-tertiary;
  }
  .step--title {
    width: 70%;
    margin: 0 auto;
  }
  .step--subtitle {
    p {
      font-size:font-size(-2) ;
      margin-top:5%;
    }
  }
}


@include respond-to(xlarge) {
  
  .testimonials {
    .padding-top {
      padding-top:2rem;
    }
    .padding-bottom {
      padding-bottom: 2rem;
    }
    .wave-bottom {
      height: 200px;
    }
  }

}