*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  color: $color-gray-dark;
  background-color: $color-white;
}

img, picture {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: none;
}
