@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.header {
  width: 100%;
  padding: px-to-rem(12px) px-to-rem(20px);
  position: relative;
  z-index: 100;
  transition: all 0.3s ease;

  &__container {
    @include flex-center(row);
    justify-content: space-between;
  }

  &__logo img {
    max-width: px-to-rem(120px);
    height: auto;
    display: block;
  }

  &__cart {
    width: px-to-rem(24px);
    color: $color-secondary;
    .cart-icon {
      svg {
        width: 30px;
      }
    }
  }

  &--sticky {
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 px-to-rem(2px) px-to-rem(10px) rgba($color-black, 0.2);
  }
}


@include respond-to(medium) {
  .hero-product {
    padding: px-to-rem(120px) 0;

    &__images {
      flex-direction: row;
      justify-content: center;
    }

    &__title {
      font-size: font-size(6);
    }

    &__subtitle {
      font-size: font-size(3);
    }
  }
}


@include respond-to(xxlarge) {
  
  .header {
    display: flex;
    justify-content: space-around;
    &__logo {
      img {
        max-width: 10rem;
        width: 100%;
      }
    }
  }

}