@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.general__subtitle,
.general__subtitle p {
  font-family: $font-family-body;
  margin-top:.5rem;
  text-align: center;
}